@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #2c3e50;
    margin: 0 auto;
    max-width: 500px;
}
.table {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 0.5fr 0.5fr;
    padding: 10px;
    border-bottom: 1px solid #cccdd2;
    font-size: 14px;
}
.header {
    font-weight: 600;
    font-size: 16px;
}
ul {
    list-style: none;
}
.pag-container {
    display: flex;
    justify-content: center;
    border: 1px solid#cccdd2;
    border-top: 0px;
    margin-top: 0px;
    box-shadow: 1px 1px #cccdd2;
    border-radius: 2px;
    .pag-items {
        padding: 5px;
        cursor: pointer;
    }
    .pag-items:hover {
        background-color: #fefefe;
        cursor: pointer;
        color: blue;
    }
}

a {
    text-decoration: none;
    color: #8d9096;
}
a:hover {
    color: #cccdd2;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(235, 230, 230, 0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 5px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.8s;
}
.fade-enter,
.fade-leave-to
/* .fade-leave-active in <2.1.8 */ {
    opacity: 0;
}
.container {
    display: flex;
    flex-direction: column;
}
input,
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 1px 1px #cccdd2;
}

.btn {
    background-color: linear-gradient(#f7f8fa, #e7e9ec);
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0 inset;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 29px;
    outline: 0;
    overflow: hidden;
    padding: 0 11px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px 0 0;
}

button:hover {
    background-color: #d1d2d4;
    border-color: #a2a6ac;
    box-sizing: border-box;
}
.actions {
    text-align: center;
}
.wrapper {
    position: relative;
    background-color: rgba(21, 50, 143, 0.274);
    width: 100%;
    height: 100%;
}
.modal-content-actions {
    position: absolute;
    box-shadow: 2px 1px 22px 12px rgba(48, 50, 52, 0.2);
    left: 360px;
    top: -20px;
    background-color: #fefefe;
    padding: 5px 10px;
    width: 80px;
    border-radius: 5px;
}

.modal-content-actions > div:hover {
    background-color: #e4e7eb;
    cursor: pointer;
    color: rgb(47, 12, 128);
}
.icon {
    padding-right: 5px;
    cursor: pointer;
}
